.start-modal {
  color: rgb(250, 155, 97);
  font-weight: 700;
  text-shadow: 0.2em 0.1em 0.3em rgb(250, 155, 97);
  text-align: center;
}

.modal-header, .modal-footer {
  background-color: whitesmoke;
}

.submit {
  background-color: rgb(67, 170, 124);
  border: 1px solid rgb(67, 150, 124);
  color: white;
}
.submit:hover,
.submit:active,
.submit:focus {
  background-color: rgb(67, 185, 124);
  border: 1px solid rgb(67, 185, 124);
}

.modal-authorization {
  margin-top: 0;
  margin-left: -1.1em;
  margin-right: -1em;
}

.btn-authorization {
  background-color: rgb(250, 155, 97);
  border: 2px solid rgb(255, 136, 100);
}

.btn-authorization:hover {
  background-color: rgb(255, 136, 100);
  border: 2px solid rgb(255, 136, 100);
}

.btn-authorization:active,
.btn-authorization:focus {
  outline: none;
  background-color: rgb(67, 170, 124);
  border: 2px solid rgb(67, 150, 124);
}